.HomeBody {
    display: flex;
    flex-direction: row;
    width:130vh;
    max-width: 960px;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    animation: fadein 2s ease-in;
    
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.HomeHeader {
    height:20vh;
    animation: fadein 2s ease-in;
    padding-top: 20px;
}

/* .initial {

    text-align: center;
    font-size: 10px;
    transform: translate(0%,120%);
    z-index: 2;
   /* animation: fadeOut 2s ease-out;*/
/*} */

/*@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}*/

marquee {
    letter-spacing: 3px;
    background-color: #4F4F55;
    height: 70px;
    color: white;
    padding-top: 20px;
}

.Home {
    font-family: 'Rubik', sans-serif;
}