@media all and (orientation:landscape) {
.Profile{
    width: 65%;
    position: absolute;
    left: 50%;
    top:15%;
    transform: translate(-50%,0);
    animation: fadein 500ms ease-in;
    font-family: 'Rubik', sans-serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.userInfo{
    display:flex;
    flex-direction: row;
    height:50%;
    max-height:200px; 
    padding-left:15% ;
    color: #101820FF;

}
.usercard{
    display:flex;
    flex-direction: column;
    padding-left: 8%;
    justify-content: space-around;
    width: 50vh;
    max-width: 500px;
}
.descBox{
    height: 50%;
}
.userid{
    height: 50%;
    display: flex;
    font-size: 2em;
}
.userNameProf{
    font-size: 1.5em;
}
.userimage{
    border-radius: 50%;
    border-style: solid;
    border-width:5px;
    border-color: #acacac;
    width: auto;
    height: 200px;
    width: 200px;
    /* max-height:200px */
}
.userDesc{
    white-space: pre-line;
}
.end{
    padding-top:5vh;
    text-align: center;
    color: dimgray;
}
.posts {
    padding-top:10vh;
}
.follow {
    display: flex;
    flex-direction: row;
    /* border-style: solid; */
}
.following {
    width:50%;
    text-align: center;
    
    /* border-style: solid; */
}
.followers {
    width:50%;
    text-align: center;
    /* border-style: solid; */
}
}