.homePost {
    width:40vh;
    height:40vh;
    max-width: 300px;
    max-height: 300px;
    background-color:#efefef;
    border-width: 0.05em;
    border-style: solid;
    border-radius: 0.5vh;
    border-color: #0f0000;
    animation: fadein 1s ease-in;
    /* display:flex;
    flex-direction: row; */
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.postOuter {
    padding: 10px;
    
}
.linkHomePost{
    display:block; 
}

.linkHomeUser{
    display:block; 
}

.userImg {
    border-radius: 100px;
    border-style: solid;
    border-width:1px;
    width:25px; 
    height:25px;
}
.userName{
    padding-left:10px; 
    font-size: xx-small;
}
.postHead{
    display: flex;
    flex-direction: row;
    padding-left:05px;
    padding-top:2px;
}
.postImg {
    
    width:30vh;

    max-width:290px;
    display: flex;
    align-items: center;
}
.postBottom{
    padding-left:5px;
}
.postBody {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    overflow: hidden; 
}
.postDescHome{
    text-decoration: none;
}
.postTitleHome{
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}