.boundingBox{
    width:60%;
    max-width: 1000px;
    height:65vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top:15px;
}

.controls-cover{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-evenly;
    background-color: #16171f; 
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
}
.publish{
    width:8% ;
    height: 2em;
    max-height: 50px;
    background-color: #16171f; 
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: #16171f; 
    height: 2em;
    max-height: 50px;
}
.styleButton{
    padding-left:2px; 
    padding-right:2px; 
    padding-top:2px;
    padding-bottom: 2px;
    justify-content: center;
    display: flex;
    min-width: 2vw;
    color: aliceblue;
    cursor: pointer;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}