@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


.bg {
    background-color: #fbeec1;
    /* background: url("https://www.webnode.com/blog/wp-content/uploads/2018/09/blog.jpg"); */
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size:cover;
    background-attachment: fixed;
    filter: blur(4px) grayscale(40%) ;
    
}

body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
    border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #009eb3; 
}

